.yd-page-cropperPic {
  width: 100%;
  height: 100%;
}
.yd-page-cropperPic .crop-wrapper,
.yd-page-cropperPic .crop-wrapper .file-wrapper,
.yd-page-cropperPic .crop-wrapper .file,
.yd-page-cropperPic .crop-wrapper .upload-banner {
  width: 100%;
  height: 100%;
}
.yd-page-cropperPic .crop-wrapper .crop-container-round .cropper-view-box,
.yd-page-cropperPic .crop-wrapper .crop-container-round .cropper-face {
  border-radius: 50%;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file .upload-banner {
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px dotted #d0d0d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file .upload-banner i {
  position: absolute;
  font-size: 44px;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -24px;
  color: #979797;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file img,
.yd-page-cropperPic .crop-wrapper .file-wrapper .file input {
  width: 100%;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .file1 {
  position: initial;
}
.yd-page-cropperPic .crop-wrapper .file-wrapper .upload-avator {
  position: absolute;
  width: 100%;
  height: 28px;
  line-height: 28px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.yd-page-cropperPic .crop-wrapper .crop-container {
  z-index: 1002;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content {
  width: 720px;
  height: 522px;
  padding: 40px 60px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -310px;
  margin-top: -300px;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content p {
  font-size: 14px;
  color: #595959;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-img-b {
  width: 600px;
  height: 338px;
  margin-bottom: 10px;
  border: 1px dotted #f8f8f8;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .cropper-drag-box {
  background-color: rgba(0, 0, 0, 0.5);
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-btn-group {
  margin-top: 20px;
  text-align: center;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-btn-group .crop-btn {
  width: 148px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  border: 1px solid #ff6366;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-btn-group .btn-cancel {
  color: #ff6366;
  margin-right: 60px;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-btn-group .btn-success {
  color: #fff;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-image {
  display: block;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  image-orientation: 0deg;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content .crop-image2 {
  display: block;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  image-orientation: 0deg;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content-zn {
  width: 375px;
  height: 360px;
  padding: 10px;
  margin-left: -188px;
  margin-top: -136px;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content-zn .crop-img-b {
  width: 357px;
  height: 252px;
  margin-bottom: 10px;
  border: 1px dotted #f8f8f8;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content-zn .crop-btn-group {
  margin-top: 20px;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content-zn .crop-btn-group .crop-btn {
  width: 120px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  border: 1px solid #ff6366;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.yd-page-cropperPic .crop-wrapper .crop-container .container-content-zn .crop-btn-group .btn-cancel {
  color: #ff6366;
  margin-right: 60px;
}
.yd-page-cropperPic .crop-wrapper .cropper-container {
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.yd-page-cropperPic .crop-wrapper .cropper-wrap-box,
.yd-page-cropperPic .crop-wrapper .cropper-canvas,
.yd-page-cropperPic .crop-wrapper .cropper-drag-box,
.yd-page-cropperPic .crop-wrapper .cropper-crop-box,
.yd-page-cropperPic .crop-wrapper .cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.yd-page-cropperPic .crop-wrapper .cropper-wrap-box {
  overflow: hidden;
}
.yd-page-cropperPic .crop-wrapper .cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}
.yd-page-cropperPic .crop-wrapper .cropper-dashed {
  position: absolute;
  display: block;
  opacity: 0.5;
  border: 0 dashed #eee;
}
.yd-page-cropperPic .crop-wrapper .cropper-dashed.dashed-h {
  top: 33.33333%;
  left: 0;
  width: 100%;
  height: 33.33333%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.yd-page-cropperPic .crop-wrapper .cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333%;
  width: 33.33333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px;
}
.yd-page-cropperPic .crop-wrapper .cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  opacity: 0.75;
}
.yd-page-cropperPic .crop-wrapper .cropper-center:before,
.yd-page-cropperPic .crop-wrapper .cropper-center:after {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eee;
}
.yd-page-cropperPic .crop-wrapper .cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px;
}
.yd-page-cropperPic .crop-wrapper .cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px;
}
.yd-page-cropperPic .crop-wrapper .cropper-face,
.yd-page-cropperPic .crop-wrapper .cropper-line,
.yd-page-cropperPic .crop-wrapper .cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.yd-page-cropperPic .crop-wrapper .cropper-face {
  top: 0;
  left: 0;
  background-color: #fff;
}
.yd-page-cropperPic .crop-wrapper .cropper-line {
  background-color: #39f;
}
.yd-page-cropperPic .crop-wrapper .cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point {
  width: 5px;
  height: 5px;
  opacity: 0.75;
  background-color: #39f;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  opacity: 1;
}
.yd-page-cropperPic .crop-wrapper .cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: " ";
  opacity: 0;
  background-color: #39f;
}
@media (min-width: 768px) {
  .yd-page-cropperPic .crop-wrapper .cropper-point.point-se {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .yd-page-cropperPic .crop-wrapper .cropper-point.point-se {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .yd-page-cropperPic .crop-wrapper .cropper-point.point-se {
    width: 5px;
    height: 5px;
    opacity: 0.75;
  }
}
.yd-page-cropperPic .crop-wrapper .cropper-invisible {
  opacity: 0;
}
.yd-page-cropperPic .crop-wrapper .cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}
.yd-page-cropperPic .crop-wrapper .cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.yd-page-cropperPic .crop-wrapper .cropper-hidden {
  display: none !important;
}
.yd-page-cropperPic .crop-wrapper .cropper-move {
  cursor: move;
}
.yd-page-cropperPic .crop-wrapper .cropper-crop {
  cursor: crosshair;
}
.yd-page-cropperPic .crop-wrapper .cropper-disabled .cropper-drag-box,
.yd-page-cropperPic .crop-wrapper .cropper-disabled .cropper-face,
.yd-page-cropperPic .crop-wrapper .cropper-disabled .cropper-line,
.yd-page-cropperPic .crop-wrapper .cropper-disabled .cropper-point {
  cursor: not-allowed;
}
/*# sourceMappingURL=cropperPic.css.map */